@charset "utf-8";
*{margin:0;padding:0;} ul{list-style:none;} img{border:none;} a{color:black;text-decoration:none;} :focus{outline:0;}

html {
	background-color: #d9d9d9;
}
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#page {
	background-color: white;
	margin: 0 auto;
	overflow: hidden;
	width: 1000px;
}
#header {
	background-image: url(../img/header.png);
	background-position: 0 36px;
	background-repeat: no-repeat;
	min-height: 360px;
	overflow: hidden;
	position: relative;
}
#header .radio {
	background-image: url(../img/header_radio.png);
	height: 333px;
	position: absolute;
	left: 23px;
	top: 144px;
	width: 341px;
	z-index: 1;
}
#header .top_menu {
	background-image: url(../img/menu.gif);
	height: 36px;
	overflow: hidden;
}
#header .top_menu ul {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
#header .top_menu li {
	display: inline-block;
}
#header .top_menu li a {
	color: white;
	display: block;
	height: 36px;
	line-height: 36px;
	padding: 0 5px;
}
#header .top_menu li a:hover {
	background-image: url(../img/menu.gif);
	background-position: bottom;
	color: #00458e;
}
#header a.title {
	display: block;
	height: 100px;	
	position: absolute;
	right: 70px;
	top: 80px;
	width: 280px;
	z-index: 1;
}
#header .info {
	color: #807c78;
	font-size: 14px;
	line-height: 14px;
	margin-left: 314px;
	margin-right: 24px;
	margin-top: 175px;
	text-align: justify;
	position: relative;
	z-index: 2;
	min-height: 161px;
}
#header .info h4 {
	font-size: 14px;
}
#header .bottom_menu {
	background-image: url(../img/menu.png);
	background-position: right;
	background-repeat: repeat-y;
	bottom: 0;
	font-size: 17px;
	font-weight: bold;
	line-height: 15px;
	padding-bottom: 17px;
	padding-right: 23px;
	padding-top: 18px;
	position: absolute;
	right: 25px;
	text-align: center;
	width: 907px;
	z-index: 2;
}
#header .bottom_menu ul {
	float: right;
	overflow: hidden;
	width: 588px;
}
#header .bottom_menu li {
	float: left;
	margin-bottom: 8px;
	margin-left: 4px;
}
#header .bottom_menu a {
	display: block;
	color: white;
	height: 38px;
	width: 192px;
}
#header .bottom_menu a:hover {
	color: #00458e;
}
#header .bottom_menu a .left, #header .bottom_menu a .right {
	background-image: url(../img/corners.png);
	display: block;
	float: left;
	height: 38px;
	width: 15px;
}
#header .bottom_menu a:hover .left {
	background-position: 0 -38px;
}
#header .bottom_menu a .right {
	background-position: right top;
}
#header .bottom_menu a:hover .right {
	background-position: -15px -38px;
}
#header .bottom_menu a .text {
	background-image: url(../img/buttons_bg.png);
	display: block;
	float: left;
	height: 35px;
	padding-top: 3px;
	position: relative;
	width: 162px;
}
#header .bottom_menu a:hover .text {
	background-position: -38px;
}
#header .spacer {
	clear: both;
	height: 155px;
}
#you_pos {
	background-color: #d7d8d9;
	font-size: 13px;
	font-weight: bold;
	height: 18px;
	line-height: 18px;
	margin-bottom: 18px;
	margin-left: 30px;
	margin-right: 25px;
}
#you_pos div {
	background-color: white;
	float: left;
	padding-right: 5px;
}
#you_pos li {
	background-image: url(../img/arrow.gif);
	background-position: 0 6px;
	background-repeat: no-repeat;
	float: left;
	padding-left: 12px;
	padding-right: 7px;
}
#you_pos li:first-child {
	background-image: none;
	padding-left: 6px;
}
#you_pos li a:hover {
	position: relative;
	top: -1px;
}
#footer {	
	background-color: #e4e4e4;
	clear: both;
	font-size: 12px;
	height: 93px;
}
#hod {
	background-image: url(../img/hod.png);
	background-position: left top;
	background-repeat: no-repeat;
	color: #807c78;
	display: block;
	float: left;
	font-size: 9px;
	line-height: 9px;
	margin-left: 31px;
	margin-top: 14px;
	padding-top: 40px;
	text-align: center;
	width: 120px;
}
#hod:hover {
	background-position: right top;
}
#footer .menu {
	margin-bottom: 17px;
	margin-left: 155px;
	padding-top: 18px;
	text-align: center;
}
#footer .menu li {
	border-left: 1px solid #807c78;
	display: inline-block;
	height: 10px;
	line-height: 10px;
}
*+html #footer .menu li {
	display: inline;
}
#footer .menu li:first-child {
	border-left: none;
}
#footer .menu li a {
	color: #807c78;
	padding: 0 9px;
}
#footer .menu li a:hover {
	color: black;
}
#footer .menu li:first-child a {
	padding-left: 0;
}
#footer p {
	color: #00458e;
	margin-left: 155px;
	text-align: center;
}
#search {	
	background-image: url(../img/form.gif);
	display: block;
	height: 20px;
	position: absolute;
	right: 10px;
	width: 300px;
	top: 45px;
}
/* yandex search customize */
#ya-site-form0 .ya-site-form__search-input {
	padding: 0 !important;
}
#ya-site-form0 .ya-site-form__input-text {
	line-height: 20px !important;
	padding: 0 5px !important;
	border: 0 !important;
	width: 280px !important;
	height: 20px !important;
}
#ya-site-form0 .ya-site-form__submit_type_image {
	background-image: url(../img/search.gif) !important;
	cursor: pointer !important;
	height: 20px !important;
	width: 20px !important;
	margin: 0 !important;
}
#ya-site-form0 .ya-site-form__input-text_type_hint {
	background-image: none !important;
}